[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/future-imperfect"]
	path = themes/future-imperfect
	url = https://github.com/jpescador/hugo-future-imperfect.git
